.chakra-dropdown {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 2rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: 2px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: transparent;
  background-color: #edf2f7;
  padding-bottom: 1px;
  line-height: normal;
  color: inherit;
}

.chakra-dropdown:hover {
  background-color: #e2e8f0;
}

.chakra-dropdown:focus {
  z-index: 1;
  background-color: transparent;
  border-color: #004d4c;
}
